:root {
  --ifm-color-primary: #00C4C3;
  --ifm-color-primary-dark: #00ABAA;
  --ifm-color-primary-darker: #009190;
  --ifm-color-primary-darkest: #007877;
  --ifm-color-primary-light: #1ADEDD;
  --ifm-color-primary-lighter: #33F7F6;
  --ifm-color-primary-lightest: #4DFFFF;
}
